@charset 'UTF-8';
/* Slider */

/* Dots */
.slick-slider{margin-bottom: 0;}

.slick-dots{
	position: absolute;
	bottom: -47px;
	display: block;
	width: 100%;
	padding: 0;
	list-style: none;
	text-align: center;
}
.slick-dots li
{
    position: relative;
    display: inline-block;
    margin: 0 10px;
    padding: 0;
    cursor: pointer;
	list-style:none;
	border-radius:50%;
}
.slick-dots li button{
    font-size: 0;
    line-height: 0;
    display: block;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
	border-radius:50%;
	background:#d2d2d2;
}

.slick-dots li button:hover, .slick-dots li button:focus{
   background:#31d8bc;
}
.slick-dots li button:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 132px;
    height: 133px;
    content: '•';
    opacity: 1;
	border-radius:50%;
	box-sizing:border-box;
	color:#d2d2d2;
}

.slick-dots li.slick-active button
{
    background:#31d8bcs;
}
@media only screen and (max-width: 767px){
.slick-dots li
{
    position: relative;
    display: inline-block;
    width: 57px;
    height: 58px;
    margin: 0 1px;
    padding: 0;
    cursor: pointer;
	list-style:none;
	border-radius:50%;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 57px;
    height: 58px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
	border-radius:50%;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 57px;
    height: 58px;
    content: '•';
    opacity: 1;
	border-radius:50%;
	box-sizing:border-box;
	border:2px solid #fff;
}
/* .slick-dots li:nth-child(1) button:before{background:url(../images/thumb1.png.html) center top no-repeat;background-size:60px;}
.slick-dots li:nth-child(2) button:before{background:url(../images/thumb2.png.html) center top no-repeat;background-size:60px;}
.slick-dots li:nth-child(3) button:before{background:url(../images/thumb3.png.html) center top no-repeat;background-size:60px;}
.slick-dots li.slick-active button:before
{
    outline: none;
	width: 57px;
    height: 58px;
	color:#000;
}
} */